name: sigsci-module-golang
on:
  push:
    branches:
      - main
  pull_request:
   

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.18' ]
    name: Build ${{ matrix.go }}
    steps:
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.SIGSCI_CORE_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.SIGSCI_CORE_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: build
      run: ./scripts/build.sh
    - name: upload
      if: ${{ github.ref == 'refs/heads/main' }}
      run: |
        aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 803688608479.dkr.ecr.us-west-2.amazonaws.com
        ./upload.sh
      env:
        PROD_ID: ${{ secrets.SIGSCI_PROD_CANONICAL_ID }}
